# DATABASE
MYSQL_PASSWORD=tecnologia
MYSQL_DATABASE=ip_embarca
MYSQL_PORT=3306

# Nome do container MySQL (docker-compose)
DB_CONTAINER=mysql-db


# APP
APP_NAME='Nome do seu projeto'
PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS=origens_permitidas_separadas_por_virgula
TRUST_PROXY=0

# SWAGGER
SWAGGER_TITLE='Nome do seu projeto'
SWAGGER_DESCRIPTION='API do Nome do seu projeto'
SWAGGER_VERSION='1.0.0'
SWAGGER_PATH='api/docs'


JWT_SECRET=changeme
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=changeme
REFRESH_TOKEN_EXPIRES_IN=7d