DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nome_do_banco
# Nome do container Postgres (docker-compose)
DB_CONTAINER=nome_do_container_postgres

REDIS_CONTAINER=nome_do_container
REDIS_PORT=porta_do_redis


# APP
APP_NAME='Nome do seu projeto'
PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS=origens_permitidas_separadas_por_virgula
TRUST_PROXY=0

# SWAGGER
SWAGGER_TITLE='Nome do seu projeto'
SWAGGER_DESCRIPTION='API do Nome do seu projeto'
SWAGGER_VERSION='1.0.0'
SWAGGER_PATH='api/docs'